<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload credentials</title>
</head>
<body>
    <h2>Please choose the Google Auth credentials to upload</h2>
    <form method="POST" enctype="multipart/form-data" action="/credentials">
        <div class="googleAuth" id="inputGoogleAuth">
            <label for="fileUploaded">Choose Google Credentials to upload</label>
            <input type="file" id="fileUploaded" name="uploadedGoogleAuth">
        </div>
        <div class="credentialsUploader">
            <label for="credentialUploader">Inputing your name</label>
            <input type="text" id="credentialUploader" name="credentialUploader" placeholder="Your name here">
        </div>
        <div class="uploadCredentialsButton">
            <button type="submit">Upload</button>
        </div>
    </form>
    <div class="credentialsContainer">
        <table class="credentialsTale">
            <tr>
                <th>#</th>
                <th>Credential's owner</th>
                <th>Credential's name</th>
                <th>Delete credentials</th>
            </tr>
            <tbody>
                {% for index in range(owners|length) %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ owners[index] }}</td>
                    <td>{{ credentials[index] }}</td>
                    <td>
                        <form method="POST" action="/delete_credentials">
                            <button type="submit" value="{{ owners[index]~ '_' ~credentials[index] }}" name="deleteCredentials">
                                Delete credentials
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
    <div>
        <form method="GET" action="{{ url_for('index') }}">
            <button type="submit">Back to home page</button>
        </form>
    </div>
</body>
</html>