<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
    <title>Currents scheduled tasks</title>
</head>
<body>
    <label for="scheduledTable">List of scheduled tasks</label>
    <table class="scheduledTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Redbeat tasks' ids</th>
                <th>Launcher</th>
                <th>Countries list</th>
                <th>Interval</th>
                <th>Frequencies</th>
                <th>Latest task status</th>
                <th>Next scheduled jobs</th>
            </tr>
        </thead>
        <tbody>
            {% for scheduled_task in scheduled_tasks %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ scheduled_task[0].decode('utf-8').split('@')[0] }}</td>
                <td>{{ scheduled_task[0].decode('utf-8').split('@')[1] }}</td>
                <td>{{ scheduled_task[0].decode('utf-8').split('@')[3] }}</td>
                <td>{{ scheduled_task[0].decode('utf-8').split('@')[2].split('-')[0] }}</td>
                <td>{{ scheduled_task[0].decode('utf-8').split('@')[2].split('-')[1] }}</td>
                <!-- Get the latest task status -->
                <td>{{ scheduled_task[0].decode('utf-8').split('@')[0].split('redbeat:laz-task-')[1] | taskstatus}}</td>
                <td>{{ scheduled_task[1] | int | datetimeformat }}</td> 
                <td>
                    <form method="POST">
                        <button type="submit" value="{{ scheduled_task[0].decode('utf-8') }}"
                        name="deleteTask">Delete task</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <label for="normalTasks">List of normal tasks (Tasks without scheduler)</label>
    <table class="normalTasks">
        <thead>
            <tr>
                <th>#</th>
                <th>Redis task id</th>
                <th>Latest task status</th>
                <th>Error trace back</th>
                <th>Delete tasks</th>
            </tr>
        </thead>
        <tbody>
            {% for normal_task in normal_tasks %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ normal_task['task_id'] }}</td>
                <td>{{ normal_task['status']}}</td>
                {% if normal_task['status'] == 'FAILURE' %}
                    <td>{{ normal_task['traceback'] }}</td>
                {% else %}
                    <td>None</td>
                {% endif %}
                <td>
                    <form method="POST">
                        <button type="submit" value="{{ normal_task['task_id'] }}"
                        name="deleteTask">Delete task</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <form method="GET" action="{{ url_for('index') }}">
            <button type="submit">Back to home page</button>
        </form>
    </div>
</body>
</html>