<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Accenture jobs requests</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        </head>
        <body>
            
            <div class="scheduledTasks">
                <h2>Delete scheduled tasks</h2>
                <a href="{{ url_for('delete_task') }}">View tasks list</a>
            </div>

            <div class="googleAuthCredentials">
                <h2>Added Google Auth Credentials</h2>
                <a href="{{ url_for('upload_credentials') }}">Upload Google Auth Credentials</a>
            </div>

            <h2>Input parrameters</h2>
            <form id="inputForm" method="POST">
                <label for="reportsType">Choose the reports type</label>
                <div class="reporttypes">
                    <select name="reportsType">
                        <option value="FullDay">FullDay</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Realtime">Realtime</option>
                    </select>
                </div>

                <div id="inputCredentials">
                    <label for="credentials">Choose the credentials from the server</label>
                    <select name="credentials" id="credentials">
                        <option value="">--Select the credentials--</option>
                        {% for item in items %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="productConfig">
                    <label for="productSpreadsheet">Input the product spreadsheet name</label>
                    <input name="productSpreadsheet" type="text" placeholder="Input your product spreadsheet">
                    <label for="productWorksheet">Input the product tab name</label>
                    <input name="productWorksheet" type="text" placeholder="Input your product tab name">
                </div>

                <div id="voucherConfig">
                    <label for="voucherSpreadsheet">Input the voucher spreadsheet name</label>
                    <input name = "voucherSpreadsheet" type="text" placeholder="Input your voucher spreadsheet">
                    <label for="voucherWorksheet">Input the voucher tab name</label>
                    <input name="voucherWorksheet" type="text" placeholder="Input your voucher tab name">
                </div>

                <div id="launcherContainer">
                    <label for="launcher">Input your name</label>
                    <input type="text" placeholder="Input your name" name="launcher">
                </div>

                <div id="cleaningOption">
                    <label for="cleaning">Choose to clean the spreadsheet or not?</label>
                    <select name="cleaningOption" id="cleaning">
                        <option value="False">False</option>
                        <option value="True">True</option>
                    </select>
                </div>

                <div id="timeContainer">
                    <label for="timeInterval">Select the time Interval</label>
                    <select name="timeInterval" id="timeInterval">
                        <option value="10">10</option>
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="None">None</option>
                    </select>

                    <label for="timeQuantifier">Select the time interval quantifier</label>
                    <select name="timeQuantifier" id="timeQuantifier">
                        <option value="Seconds">Seconds</option>
                        <option value="Minutes">Minutes</option>
                        <option value="Hours">Hours</option>
                        <option value="None">None</option>
                    </select>
                </div>

                <div id="inputContainer">
                    <input type="text" placeholder="Enter country list" name="countryList">
                    <input type="text" placeholder="Enter raw cookies" name="cookiesString">
                </div>

                <button type="button" id="addButton">Add More Inputs</button>
                <button type="submit">Submit</button>
                <button type="button" id="removeButton">Remove inputs</button>

            </form>

            <script>
                document.getElementById('timeInterval').addEventListener('change', function(){
                    const selectTime = document.getElementById('timeInterval');
                    const timeOptionValue = selectTime.value;
                    if (timeOptionValue === 'None'){
                        const selectQuantifier = document.getElementById('timeQuantifier')
                        selectQuantifier.value = 'None';
                        selectQuantifier.disabled = true;
                    }
                    else {
                        const selectQuantifier = document.getElementById('timeQuantifier')
                        selectQuantifier.disabled = false;
                    }
                });
            </script>

            <script>
                document.getElementById('timeQuantifier').addEventListener('change', function(){
                    const selectQuantifier = document.getElementById('timeQuantifier');
                    const quantifierOptionValue = selectQuantifier.value;
                    if (quantifierOptionValue === 'None') {
                        const selectTime = document.getElementById('timeInterval');
                        selectTime.value = 'None';
                        selectTime.disabled = true;
                    }
                    else {
                        const selectTime = document.getElementById('timeInterval');
                        selectTime.disabled = false; 
                    }
                });
            </script>

            <script>
                document.getElementById('addButton').addEventListener('click', function () {
                    const container = document.getElementById('inputContainer');
                    const listInput = document.createElement('input');
                    listInput.type = 'text';
                    listInput.placeholder = 'Enter country list';
                    listInput.name = 'countryList';

                    const stringInput = document.createElement('input');
                    stringInput.type = 'text';
                    stringInput.placeholder = 'Enter raw cookies';
                    stringInput.name = 'cookiesString';
                    container.appendChild(listInput);
                    container.appendChild(stringInput);
                });
            </script>

            <script>
                document.getElementById("removeButton").addEventListener("click", function(){
                    const container = document.getElementById("inputContainer")
                    const inputs = container.getElementsByTagName("input")
                    if (inputs.length > 2) {
                        const lastElement = inputs[inputs.length - 1]
                        const secondLastElement = inputs[inputs.length - 2]
                        container.removeChild(lastElement)
                        container.removeChild(secondLastElement)
                    }
                    else {
                        let message = document.createElement("p")
                        message.style.color = "red"
                        message.textContent = "Can't remove further any inputs."
                        container.appendChild(message)
                        setTimeout(() => {
                            container.removeChild(message);
                        }, 3000);
                    }
                })
            </script>

            <script>
                const googleDiv = document.getElementById('inputCredentials')
                const selectElement = googleDiv.querySelector('select')
                document.getElementsById('inputForm').addEventListener('submit', function () {
                    const optionValue = selectElement.value
                    const existingMessage = googleDiv.querySelector('p');
                    if (existingMessage) {
                        googleDiv.removeChild(existingMessage);
                    }
                    if (!optionValue) {
                        event.preventDefault(); 
                        const message = 'Please select your credentials';
                        const pMessage = document.createElement('p');
                        pMessage.textContent = message;
                        pMessage.style.color = 'red'; 
                        googleDiv.appendChild(pMessage);
                    }
                })
            </script>
        </body>
        </html>